
.vistaLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sendButton {
    height: 2em;
    width: 4em;
    border-radius: 25%;

    background-color: silver;
    transition: 0.2s;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
